.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.card-poster {
  width: 100%;
  margin-bottom: auto;
}

.card-title {
  margin-top: 0.5rem;
  font-size: 14px;
  text-align: center;
}

.card-year {
  margin-top: 0.25rem;
  font-size: 14px;
}

.card-container:active {
  filter: brightness(50%);
}
